#body {
    font-family: georgia, 'bitstream vera serif', serif;
}

.output {
    font-family: 'lucida console', monaco, 'andale mono', 'bitstream vera sans mono', consolas, monospace;
    font-size: 80%;
    border : 1px dashed grey;
    padding: 10px;
    margin-bottom: 20px;
    display: none;
    
}
#drawsvg  {
    margin-left: 20px;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

#diplayStateText {
    padding: 10px;
    width: 90%;
    word-wrap: break-word;
}
.spdiv{
    padding: 10px;
    padding-bottom: 30px;
}

